/* styles.css */

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 1130px; 
  margin-left: 225px;
  padding: 5px 10px; 
}

/* Style the search input */
.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

/* Style the search button */
.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}
